@keyframes ani-hide {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 100%);
  }
}


@-moz-keyframes ani-show {
  100% {
    transform: translate(0, 0);
  }
}


@keyframes ani-btn-turn-down {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes ani-btn-turn-up {
  0% {
    transform: translate(0, -100%);
  }

  100% {
    transform: translate(0, 0);
  }
}