.trace{
	position: fixed;
	top: 40%;
	left: 50%;
	width: 18rem;
	margin-left: -9rem;
	background:$grey-dark;
	color:$grey-light;
	z-index:1000;
	border-radius: 5px;
	padding:2rem;
	font-size:1.3rem;
	text-align:center;
}